.menu{
    display: flex;
    list-style: none;

    border-bottom: black solid 1px;

    padding: 10px 10px 10px 50px;
    margin: 0;


}

.menu__item:not(:last-child){
    padding-right: 30px;
}

.menu__link{
    text-decoration: none;
}

